/* ==================== GENERAL ====================*/

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
}

body a,
body a:visited {
    color: #ccc;
    text-decoration: none;
}

body header a:visited { 
color: #fff;
}

body a:hover {
    color: #aaa;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 45px;
}

.button-area .button {
    display: inline-block;
    padding: 10px;
    margin: 30px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-area .button:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.button-area .button.active {
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset;
}

.button-area input[type="checkbox"] {
    display: none;
}

#mnsry_container {
    position: relative;
}

#mnsry_container:hover img {
    opacity: 0.28;
}

#mnsry_container article {
    width: 33.3%;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

#mnsry_container article h1 {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 1.2s;
    z-index: 1;
}

#mnsry_container article img {
    display: block;
    width: 100%;
    transition: all 0.8s;
}

#mnsry_container article:hover h1 {
    transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
    opacity: 0;
}

#mnsry_container article:hover img {
    opacity: 1;
    transform: scale(1.04);
}

#loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
}

@media (max-width: 860px) {
    #mnsry_container article {
        width: 50%;
        min-height: 150px;
    }
}

@media (max-width: 667px) {
    #mnsry_container article {
        width: 100%;
        min-height: 220px;
    }
}


* {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}



body {
    background: #1D1D1C;
    /*    font-family: 'ceragr-blackitaliuploadedfile';*/
}

/*
.container-fluid {
    width: 70%;
}

.container {
    max-width: 1544px;
}
*/

.col-lg-4,
col-md-4,
col-sm-4,
col-xs-4 {
    float: left;
}

.post,
.sidebar {
    display: block;
    /*border: 1px solid #ffffff;*/
    border-radius: 3px;
}

h1,
h2,
p,
a {
    font-family: 'cera-med';
}

/* ==================== HEADER ====================*/

header {
    position: fixed;

    margin: 0 auto;

    top: 0;
    width: 100%;
    /*    z-index: 100;*/
    z-index: 999;
    /*    max-width: 1250px !important;*/
}

#navbar {
    flex-basis: 50%;
    /*margin-right: -16px;** /* zorgde ervoor dat de header 16px naar rechts ging, geen idee waarom? */
    padding: .5rem 1rem 0rem 0rem!important;
}

.navbar {
    padding: .5rem .0rem 0rem 0rem!important;
}

.navbar-nav {
    flex-direction: unset;
    float: right;
}



header li {
    float: left;
}

header ul li a {
    display: block;
    color: #fff;
    font-weight: 400;
    float: left;
    padding: 14px 16px;
    border-bottom: 1px solid transparent;
    font-size: 15px;
    height: 65px;
}

header ul li a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #FFDE13;
}

.activeLink {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #FFDE13;
}

.navbar-collapse {
    position: relative;
}

/*
.navbar-collapse:after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
}

*/

.bar-nav {
    width: 100%;
    height: 1.5px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#787878', GradientType=1);
    /* IE6-9 */
    bottom:0px;
    position: absolute;
    z-index: -10;
}


/* =================== progressbar scrolling- top =================== */

progress {
    /* Positioning */
    position: fixed;
    left: 0;
    top: 0;
    z-index;
    999;
    /* Dimensions */
    width: 100%;
    height: .07em;

    /* Reset the apperance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* For Firefox/IE10+ */
    background-color: transparent;

    /* For IE10+, color of the progress bar */
    color: red;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

.flat::-webkit-progress-value {
    background-color: red;
}

.flat::-moz-progress-bar {
    background-color: red;
}

.single::-webkit-progress-value {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, transparent, red);
}

.single::-moz-progress-bar {
    background-color: transparent;
    background-image: -moz-linear-gradient(left, transparent, red);
}

.multiple::-webkit-progress-value {
    background-image: -webkit-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(left, green, red);
}

.multiple::-moz-progress-bar {
    background-image: -moz-linear-gradient(-45deg,
    transparent 33%, rgba(0, 0, 0, .1) 33%,
    rgba(0, 0, 0, .1) 66%, transparent 66%),
    -moz-linear-gradient(left, green, red);
}

.progress-container {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    height: .25em;
    display: block;
    z-index;
    999;
}

.progress-bar {
    background-color: red;
    width: 50%;
    display: block;
    height: inherit;
    z-index;
    999;
}

progress#progressBar {
    z-index: 999;
}

/* =================== Intro ======================= */

.icon-edit {
    font-size: 20px!important;
    color: #ffde13;
    transition: all 300ms ease;

}

.icon-edit:hover {
    color: #1d1d1c;
}

.icon-box {
    width: 20px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.icon-intro {
    font-size: 50px!important;
    color: #ffde13;
    transition: all 300ms ease;
    -webkit-animation: flashing 4s ease;
    animation: flashing 4s ease;
    animation-delay: 9s;
}

/* ------------intro screen------------- */

#splashscreen {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1c;
    z-index: 9999;
    display: block;
    height: 100vh;
}

.splashscreen-content {
    width: 100%;
    height: auto;
    
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;        
    background-image: url('Images/loginBox.png');
    -webkit-transform: translate(-50%, -50%); 
    transform: translate(-50%, -50%); 
}

.enter_link {
    display: block;
    z-index: 999;
    position: relative;
    height: 100px;
    top: 40px;
    width: 40%;
    text-decoration: none!important;
    -webkit-animation: left-fade-in 7s linear normal forwards;
    animation: left-fade-in 7s linear normal forwards;
    animation: color-change 7s;
}

.enter_link:hover .icon-intro {
    color: white;

}

#lemon {
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
    z-index: 20;
    margin: 0px auto;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
}

.st1 {
    fill: #ffde13;
    -webkit-animation: color-change 7s;
    animation: color-change 7s;
}

.st0 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #efefef;
}

#lemon-stroke_2_ {
    -webkit-animation: lemon-dash 4s linear normal forwards;
    animation: lemon-dash 4s linear normal forwards;
    animation-delay: 2s;
}

@keyframes lemon-dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes color-change {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flashing {
    25% {
        color: white;
    }
    50% {
        color: #ffde13;
    }
    75% {
        color: white;
    }
    100% {
        color: #ffde13;
    }
}


@keyframes img-left-fade-in {
    0% {
        opacity: 0;
        left: 0;
    }

    70% {
        opacity: 0.01;
        left: 140px;
    }

    85% {
        opacity: 0.1;
        left: 170px;
    }

    100% {
        opacity: 0.1;
        left: 190px;
    }
}

@keyframes left-fade-in {
    0% {
        opacity: 0;
        left: -100px;
    }

    90% {
        opacity: 0;
        left: -30px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}

.intro-img {
    /*    border: 1px solid orange;?*/
    background-image: url("../assets/backgrounds/husky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 65%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    opacity: 1;
    -webkit-animation: img-left-fade-in 8s linear normal forwards;
    animation: img-left-fade-in 8s linear normal forwards;
}

/* ==================== OUR WORK ====================*/

.back-fade {
    position: fixed;
    display: block;
    margin-left: 14px;
    opacity: 1;
}

/* ---------- container edit ---------- */

.container-edit {
    margin-right: 0px;
    max-width: 85%;
}

/* ---------- sidebar heading ---------- */

.row.page-heading {
    margin-top: 145px;
    height: 120px;
    color: #fff;
}

/* ---------- sidebar ---------- */

.sidda {
    /*    width: 200px;*/
    height: 700px;
    position: fixed;
    color: red;
    top: 60px;
    z-index: 99999;
}

.sidda li {
    padding: 10px 0;
}

.sidda ul li a {
    color: #fff;
    font-family: 'ceragr-bolduploaded_file';
}

.sidda ul.nav.navbar-nav {
    display: inline-block;
    color: red;
}

.sidda ul li a:hover {
    color: #FFDE13;
    text-decoration: none;
    border-bottom: 1px solid #FFDE13;
}

span.cbp-filter-counter {
    display: none;
}

/* ---------- Slide in overlay animation ---------- */

.grid {
    text-align: center;
    max-width: 95vw;
    margin: 2vw auto;
}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.grid-item {
    padding: 0px 5px;
    box-sizing: border-box;
    display: inline;
    transition: 200ms ease-in;
}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media (min-width: 500px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
    }
}

@media (min-width: 1700px) {
    .grid-item {
        width: 25%;
    }
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}

.grid-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    */ -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+80&0+0,0.65+80 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 80%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 80%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 80%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
    /* IE6-9 */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.post:hover .overlay {
    height: 100%;
}

.text {
    color: red;
    font-size: 1rem;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0px 20px;

}

.overlay .text p {
    color: #fff;
    font-size: 0.8rem;
}

.overlay p.project-type {
    color: #FFDE13;
    margin-bottom: 0px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.overlay h1.project-name {
    color: #fff;
    float: left;
    /* line-height: 1; */
    padding-right: 10px;
    margin: 0;
    padding-top: -7PX;
    border-right: 3px solid #FFDE13;
    position: relative;
    display: block;
    WORD-BREAK: break-all;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 300ms;
}

.overlay h1.project-name:hover {
    color: #f9cc00;
}


.left-project-name {
    width: 50%;
    float: left;
    height: auto;
    float: left;
    text-align: left;

}

.right-project-description {
    width: 50%;
    height: auto;
    float: left;
    text-align: left;
}

.overlay {}

.overlay:before,
.bot-left:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: -3px;
}

.overlay:before {
    top: 0px;
    width: 5px;
    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#FFDE13), to(transparent));
    background-image: -webkit-linear-gradient(transparent, #FFDE13);
    background-image: -moz-linear-gradient(transparent, #FFDE13);
    background-image: -o-linear-gradient(transparent, #FFDE13);
}

.overlay:after {
    right: -3px;
    height: 3px;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFDE13), to(transparent));
    background-image: -webkit-linear-gradient(left, #FFDE13, transparent);
    background-image: -moz-linear-gradient(left, #FFDE13, transparent);
    background-image: -o-linear-gradient(left, #FFDE13, transparent);
}


/* ==================== CONTACT PAGE ====================*/

body.contact {
    background-image: url("../assets/backgrounds/jesse-orrico-tes.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center center;
}

.contact header {
    background: transparent;

}

.small-heading {
    margin-top: 145px;
    text-align: left;
    -webkit-animation: left-fade-in 3s linear normal forwards;
    animation: left-fade-in 3s linear normal forwards;
    margin-bottom: 130px;
    max-width: 46%;
}

.small-heading h1::after {
    content: '';
    background: orange;
    width: 100px;
    height: 5px;
}

.small-heading p {
    /*    width: 65%;*/
    width: 68%;
    margin-left: 0px;
    float: left;
    font-size: 0.9rem;

}

.contact-wrapper {
    /*    background: #111;*/
    height: 800px;
    width: 100%;
    -webkit-animation: left-fade-in 4s linear normal forwards;
    animation: left-fade-in 4s linear normal forwards;
}

.contact-form-box {
    background: #111;
    float: left;
    height: auto;
    min-height: 700px;
    padding: 40px 80px;
    /*    border: red 1px solid;*/
    position: relative;
    width: 80%;

}

.contact-form-box:after {
    content: '';
    background: orange;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: -85px;
    /*    margin-top: -35px;*/
    margin-top: -55px;
    /*    z-index: 1;*/
    position: absolute;

    z-index: -1;
}

.contact-form-box h2 {
    color: #FFDE13;
    text-align: left;
}

.contact-form-holder {
    /*    border: blue 1px solid;*/
    width: 100%;
    height: auto;
}

.contact-form-img {
    /* border: 1px solid orange; */
    background-image: url(../assets/backgrounds/husky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    float: right;
    /* margin-top: 375px; */
    /* margin-top: 402px; */
    z-index: 555;
    /*    margin-left: -32.5%;*/
    margin-left: -60%;
    /* margin-left: -40%; */
    width: 50%;
    -webkit-animation: fade-inRight 3s linear normal forwards;
    animation: fade-inRight 3s linear normal forwards;
    animation-delay: 5s;
    opacity: 0;
    transition: all 300ms ease;
    right: -50px;
    margin-top: 410px;
}


@keyframes fade-inRight {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}


@keyframes fade-inLeft {
    0% {
        opacity: 0;
        left: 0;
    }


    100% {
        opacity: 1;
        left: 20px;
    }
}


/* Contact form */

form {
    margin-top: 60px;
    -webkit-animation: fade-inLeft 5s linear normal forwards;
    animation: fade-inLeft 5s linear normal forwards;

}

label {
    float: left;
    color: #504f4f;
}

input,
textarea {
    /*width: 100%;*/
    width: 88%;
    display: block;
    height: 45px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 18.5px;
    padding-bottom: 10px;
    resize: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    /*    border-bottom: 1px #504f4f solid;*/
    border-bottom: none;

    margin-bottom: 0px;
    padding-bottom: 0px;
}

textarea {
    height: 180px;
}

.form-name-input,
.form-email-input,
.form-phone-input,
.form-company-input,
.form-message-input {
    width: 41 %;
    margin: 0;
    float: left;
    margin-left: 20.5px;
    margin-right: 20.5px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.form-name-input:after,
.form-email-input:after,
.form-phone-input:after,
.form-company-input:after,
.form-message-input:after {
    transition: all 300ms ease;
    content: '';
    background: #504f4f;
    width: 98%;
    float: right;
    height: 1px;
    display: block;
}

.form-message-input:after {
    width: 98%;
}

.form-name-input:hover:after,
.form-email-input:hover:after,
.form-phone-input:hover:after,
.form-company-input:hover:after,
.form-message-input:hover:after {
    background: #FFDE13;
}

.form-name-input:active:after,
.form-email-input:active:after,
.form-phone-input:active:after,
.form-company-input:active:after,
.form-message-input:active:after {
    background: orange;
}

.form-message-input,
.form-submit-input {
    width: 50%;
    margin-left: 20.5px;
    margin-right: 20.5px;
}

.form-message-input {
    max-width: 261px;
}

input[placeholder],
textarea[placeholder] {
    color: #fff;
}

input::placeholder {
    color: #fff;
}

textarea::placeholder {
    color: #fff;
}

input.button {
    color: #111;
    text-align: center;
    background-image: linear-gradient(to right, #ff9600 0%, #F8e71c 51%, #FFDE13 100%);
    border-radius: 8px;
    transition: 0.5s;
    background-size: 200% auto;
    /*    box-shadow: 0 0 20px #222;*/
    cursor: pointer;
    padding: 0;
    width: 60%;
    font-size: 0.9rem;
    height: 35px;
}

input.button:hover {
    background-position: right center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-textarea-placeholder {
    color: #ededed;
}

/* Firefox < 19 */

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ededed;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: #ededed;
}

/* Firefox > 19 */

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #ededed;
}

/* Internet Explorer 10 */

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: #ededed;
}

.placeholder-fix:focus::-webkit-input-placeholder {
    color: #ededed;
}

.placeholder-fix:focus::-moz-placeholder {
    color: #ededed;
}

.placeholder-fix:-moz-placeholder {
    color: #ededed;
}

/* Socials bar/footer */

.socials-bar {
    margin: 0 auto;
    height: 200px;
    line-height: 10.5;
}

.socials-bar span {
    margin-left: 60px;
}




body.contact {
    height: 1000px;
    margin: 0 auto;
}

.top {
    margin: 0;
    position: relative;
    width: 100%;
    opacity: 1;
}

/* ==================== ABOUT PAGE ====================*/

.about-page-img {
    /* border: 1px solid orange; */
    background-image: url(../assets/backgrounds/husky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    float: right;
    /* margin-top: 375px; */
    /* margin-top: 402px; */
    z-index: 555;
    /*    margin-left: -32.5%;*/
    margin-left: -60%;
    /* margin-left: -40%; */
    width: 50%;
    /*
    -webkit-animation: fade-inRight 3s linear normal forwards;
    animation: fade-inRight 3s linear normal forwards;
    animation-delay: 5s;
    opacity: 0;
*/
    transition: all 300ms ease;
    right: -50px;
    margin-top: 410px;
}

