/* ==================== GENERAL ====================*/

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
    background: #eeeeee !important;
    color: #2a2a2a !important;
    text-align: center;
}

body a,
body a:visited {
    color: #2a2a2a;
    text-decoration: none;
}

body header a:visited {
    color: #2a2a2a;
}

body a:hover {
    color: #aaa;
}

p {
    line-height: 1.3;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 45px;
}

.button-area .button {
    display: inline-block;
    padding: 10px;
    margin: 30px 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-area .button:hover {
    background-color: rgba(255, 255, 255, 0.32);
}

.button-area .button.active {
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) inset;
}

.button-area input[type="checkbox"] {
    display: none;
}

#mnsry_container {
    position: relative;
}

#mnsry_container:hover img {
    opacity: 0.28;
}

#mnsry_container article {
    width: 33.3%;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}

#mnsry_container article h1 {
    position: absolute;
    top: 46%;
    left: 0;
    width: 100%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all 1.2s;
    z-index: 1;
}

#mnsry_container article img {
    display: block;
    width: 100%;
    transition: all 0.8s;
}

#mnsry_container article:hover h1 {
    transform: translate3d(0, 18px, 0) scale(1.2, 0.4);
    opacity: 0;
}

#mnsry_container article:hover img {
    opacity: 1;
    transform: scale(1.04);
}

#loading_msg {
    position: fixed;
    top: 48%;
    width: 100%;
    z-index: -1;
}

@media (max-width: 860px) {
    #mnsry_container article {
        width: 50%;
        min-height: 150px;
    }
}

@media (max-width: 667px) {
    #mnsry_container article {
        width: 100%;
        min-height: 220px;
    }
}


* {
    margin: 0 auto;
    padding: 0;
    /*    max-width: 100%;*/
    max-width: 100vw;
    margin: 0 auto;
}



body {
    background: #eeeeee;
}

.col-lg-4,
col-md-4,
col-sm-4,
col-xs-4 {
    float: left;
}

.post,
.sidebar {
    display: block;
    border-radius: 3px;
}

h1,
h2,
p,
a {
    font-family: 'cera-med';
}

/* ==================== HEADER ====================*/


.loading {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%;
    background:#eeeeee;
    z-index:999;
    transition: opacity 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading.hidden {
    opacity:0;
    pointer-events: none;
}

header {
    position: fixed;
    margin: 0 auto;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 9px 0;
    background: #eeeeee;
}

#navbar {
    flex-basis: 50%;
    padding: .5rem 1rem 0rem 0rem!important;
    padding-right: 0px !important;
}

.navbar {
    padding: .5rem .0rem 0rem 0rem!important;
}

.navbar-nav {
    flex-direction: unset;
    float: right;
}

header li {
    float: left;
}

header ul li a {
    display: block;
    color: 101010;
    font-weight: 400;
    float: left;
    padding: 14px 30px;
    border-bottom: 1px solid transparent;
    font-size: 13.6px;
    height: 65px;
    font-family: 'Open Sans', sans-serif;
}

header ul li a:hover {
    color: #ccc;
    text-decoration: none;
    transition: all ease 300ms;
}

.activeLink {
    color: #fff;
    text-decoration: none;
    background: -webkit-linear-gradient(#ff9600, #ffde13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.activeLink:after {
    content: '';
    background: #ffde13 !important;
    background: -webkit-linear-gradient(to right, #ff9600, #ffde13) !important;
    background: linear-gradient(to right, #ff9600, #ffde13) !important;
    height: 1.5px;
    width: 40px;
    display: block;
    margin-top: 10px;
}

.activeLink-contact:after {
    width: 50px;
}

.navbar-collapse {
    position: relative;
}

.bar-nav {
    width: 100%;
    height: 1.5px;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(120, 120, 120, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#787878', GradientType=1);
    /* IE6-9 */
    bottom: 0px;
    position: absolute;
    z-index: -10;
    display: none;
}

a.navbar-brand {
    font-size: 1.40rem;
}

a.navitem-class {
    padding-right: 0;
}

span.creative-agency {
    font-size: 12px;
    font-family: 'cera-med';
}

.header-container-fluid-without-padding {
    padding-left: 0px;
    padding-right: 0px;
}

/* ==================== FOOTER ====================*/

footer {
    /*    z-index: 9999999999999;*/
    float: right;
    height: auto;

}

/* color icons */

footer .fa-linkedin-in {
    color: #0077b5;
}

footer .fa-dribbble {
    color: #ea4c89;
}

footer .fa-envelope {
    color: #c1d82f;
}

footer .fa-instagram {
    color: #5851db;
}

footer ul li {
    width: 50px;
    list-style-type: none;
    margin-top: 5px;
}

footer .fa-instagram {
    margin: 0;
}

/* =================== Intro ======================= */

.icon-edit {
    font-size: 20px!important;
    color: #ffde13;
    transition: all 300ms ease;

}

.icon-edit:hover {
    color: #1d1d1c;
}

.icon-box {
    width: 20px;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.icon-intro {
    font-size: 50px!important;
    color: #ffde13;
    transition: all 300ms ease;
    -webkit-animation: flashing 4s ease;
    animation: flashing 4s ease;
    animation-delay: 9s;
}

/* ------------intro screen 1.0 ------------- */

#splashscreen {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #eeeeee;
    z-index: 9999;
    display: block;
    height: 100vh;
    /*
    background-image: url("../assets/backgrounds/photo-1522090416782-44d4729d433cv2.jpg");
    background-size: cover;
    background-position: center center;
*/
}

.splashscreen-content {
    width: 100%;
    height: auto;

    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    background-image: url('Images/loginBox.png');
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.enter_link {
    display: block;
    bottom: 26px;
    right: 9%;
    z-index: 999;
    position: absolute;
    text-decoration: none!important;
    float: right;
    transition: all 300ms ease;
    display: none;
}

.enter_link:hover {
    color: #ccc !important;
}

#lemon {
    position: relative;
    top: 40px;
    width: 100%;
    height: auto;
    z-index: 20;
    margin: 0px auto;
    /* -webkit-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
}

.st1 {
    fill: #ffde13;
    -webkit-animation: color-change 7s;
    animation: color-change 7s;
}

.st0 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    stroke: #efefef;
}

#lemon-stroke_2_ {
    -webkit-animation: lemon-dash 4s linear normal forwards;
    animation: lemon-dash 4s linear normal forwards;
    animation-delay: 2s;
}

@keyframes lemon-dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes color-change {
    0% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flashing {
    25% {
        color: white;
    }
    50% {
        color: #ffde13;
    }
    75% {
        color: white;
    }
    100% {
        color: #ffde13;
    }
}


@keyframes img-left-fade-in {
    0% {
        opacity: 0;
        left: 0;
    }

    70% {
        opacity: 0.01;
        left: 140px;
    }

    85% {
        opacity: 0.1;
        left: 170px;
    }

    100% {
        opacity: 0.1;
        left: 190px;
    }
}


@keyframes img-left-fade-in-2 {
    0% {
        opacity: 0;
        right: 500;
    }
    85% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}

@keyframes left-fade-in {
    0% {
        opacity: 0;
        left: -100px;
    }

    90% {
        opacity: 0;
        left: -30px;
    }

    100% {
        opacity: 1;
        left: 0px;
    }
}


.intro-img {
    background-image: url("../assets/backgrounds/husky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 65%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    opacity: 1;
    -webkit-animation: img-left-fade-in 8s linear normal forwards;
    animation: img-left-fade-in 8s linear normal forwards;
}


.photo {
    position: absolute;
    top: 0;
    left: 0;
    right: 500px;
    bottom: 0;
    max-width: 1000px;
    width: 90vw;
    height: 70vh;
    margin: auto;
    border-radius: 6px;
    background: url(http://cs618426.vk.me/v618426393/11e92/-m1JGVNfIhw.jpg) no-repeat center center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    opacity: 1;
    -webkit-animation: img-left-fade-in-2 8s linear normal forwards;
    animation: img-left-fade-in-2 8s linear normal forwards;
}

/* ------------intro screen lemon 2.0 ------------- */

#splashscreen {
    z-index: 100;
    position: relative;
}

h1.spashscreen-brand-name {
    font-size: 9rem;
    text-align: center;
}

p.spashscreen-brand-name {
    font-size: 2.5rem;
    letter-spacing: 7.2px;
    margin-top: -10px;
    text-align: center;
}

.splashscreen-content {
    top: 50%;
}

.yellow-brand-bar {
    width: 380px;
    height: 7px;
    background: #ffde13 !important;
    background: -webkit-linear-gradient(to right, #ff9600, #ffde13) !important;
    background: linear-gradient(to right, #ff9600, #ffde13) !important;
    margin-bottom: 30px;
    left: 6%;
    position: relative;

}

/* slider footer */

.slider-footer {
    height: 25px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 13.6px;
    letter-spacing: 1px;
    overflow: visible;
}

.slider-social {
    float: left;
}

.fa-instagram {
    margin-right: 15px;
}

/* scroll down animation */

#section07 {
    /*
  width: 100%;
  height: 100%;
*/
    background: red !important;
}


/* case page line effect */

.line-gradient.case-header {
    background: red;
    top: 60px;
    left: 25%;
}

.line-gradient.case-header a span {
    width: 3px;
}

.line-gradient.case-header a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    height: 134px
}

.line-gradient.case-header a span:nth-of-type(2) {
    top: 140px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    height: 12px;
}

.line-gradient.case-header a span:nth-of-type(3) {
    top: 170px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    height: 14px;
}

.line-gradient.case-header a span:nth-of-type(4) {
    top: 190px;
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
    height: 5px;
}

/* filter page line effect */

.line-gradient {
    width: 20px;
    position: absolute;
    left: 110px;
    top: 230px;

}

.line-gradient a span {
    position: absolute;
    top: 0;
    height: 5px;
    /* margin-left: -12px; */
    width: 2px;
    background: rgb(255, 150, 0);
    background: -webkit-linear-gradient(bottom, rgba(255, 150, 0, 1) 31%, rgba(255, 222, 19, 1) 60%);
    background: -o-linear-gradient(bottom, rgba(255, 150, 0, 1) 31%, rgba(255, 222, 19, 1) 60%);
    background: linear-gradient(to top, rgba(255, 150, 0, 1) 31%, rgba(255, 222, 19, 1) 60%);
    /*  border-left: 2px solid #2a2a2a;*/
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    /* margin-top: 20px; */
    margin-top: 35px;
}


.line-gradient a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    height: 84px
}

.line-gradient a span:nth-of-type(2) {
    top: 70px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    height: 20px;
}

.line-gradient a span:nth-of-type(3) {
    top: 100px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    height: 15px;
}

.line-gradient a span:nth-of-type(4) {
    top: 120px;
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
    height: 8px;
}


#section07 p {
    font-size: 13.6px;
    letter-spacing: 1px;
}

.demo a {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 2;
    right: 0;
    display: inline-block;
    text-decoration: none;
    /* transition: opacity .3s; */
}

.demo a:hover {
    opacity: .5;
}

#section07 a {
    /*  padding-top: 80px;*/
}

#section07 a span {
    position: absolute;
    top: 0;
    height: 5px;
    width: 1px;
    background: #2a2a2a;
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
    margin-top: 35px;
}

#section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    height: 20px
}

#section07 a span:nth-of-type(2) {
    top: 25px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
    height: 4px;
}

#section07 a span:nth-of-type(3) {
    top: 40px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    height: 7px;
}

#section07 a span:nth-of-type(4) {
    top: 48px;
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
    height: 4px;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ==================== OUR WORK ====================*/

.back-fade {
    position: fixed;
    display: block;
    margin-left: 14px;
    opacity: 1;
}

.back-fade-filter {
    opacity: 1;
}

/* ---------- sidebar heading ---------- */

.row.page-heading {
    margin-top: 145px;
    height: 120px;
    /*    color: #101010;*/
    color: #2a2a2a;
    width: 200px;
}

/* ---------- sidebar ---------- */

span.cbp-filter-counter {
    display: none;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active:after {
    content: '';
    display: block;
    background: #FFDE13;
    width: 75px;
    height: 2px;
    position: absolute;
    top: 37px;
    right: 30px;
    transition: 200ms ease-in;
}

.cbp-l-filters-buttonCenter .cbp-filter-item {
    transition: 200ms ease-in;
    padding: 5px 17px;
}

/* ---------- Slide in overlay animation ---------- */

.grid {
    text-align: center;
    max-width: 95vw;
    margin: 2vw auto;
}


/* Step 3: how big should the gap be between grid items? remember that the total gap between two items would be double what you set here since both would have that amount set as their individual padding. Also add box-sizing:border-box to make sure the padding doesn't affect the total widh of the item */

.grid-item {
    padding: 0px 5px;
    box-sizing: border-box;
    display: inline;
    transition: 200ms ease-in;
}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */

@media (min-width: 500px) {
    .grid-item {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .grid-item {
        width: 33.333%;
    }
}

@media (min-width: 1700px) {
    .grid-item {
        width: 25%;
    }
}

@media (min-width: 2100px) {
    .grid-item {
        width: 20%;
    }
}

.grid-item:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    */ -moz-box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.25);
}

.image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.otherclass {
    background: red;
}

.overlay-bottom {
    width: 100%;
    height: 50px;
    position: relative;
    bottom: 0;
}

.overlay {
    bottom: 0;
    */ top: 0;
    background: rgba(255, 149, 0, 0.83);
    background: -moz-linear-gradient(45deg, rgba(255, 149, 0, 0.83) 0%, rgba(255, 224, 19, 0.83) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 149, 0, 0.83)), color-stop(100%, rgba(255, 224, 19, 0.83)));
    background: -webkit-linear-gradient(45deg, rgba(255, 149, 0, 0.83) 0%, rgba(255, 224, 19, 0.83) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 149, 0, 0.83) 0%, rgba(255, 224, 19, 0.83) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 149, 0, 0.83) 0%, rgba(255, 224, 19, 0.83) 100%);
    background: linear-gradient(45deg, rgba(255, 149, 0, 0.83) 0%, rgba(255, 224, 19, 0.83) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9500', endColorstr='#ffe013', GradientType=1);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    position: absolute;
}

.post:hover .overlay {
    height: 100%;
}

.text {
    color: red;
    font-size: 1rem;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 0px 20px;
}

.overlay .text p {
    color: #fff;
    font-size: 0.8rem;
}

.overlay p.project-category {
    color: #fff;
    margin-bottom: 0px;
    /* position: fixed; */
    /* bottom: 10px; */
    font-style: italic;
}

.overlay h1.project-name {
    color: #fff;
    margin: 0;
    text-align: center;
    /*    position: relative;*/
    /*    display: block;*/
    WORD-BREAK: break-all;
    font-size: 1rem;
    transition: all 300ms;
}

.overlay h1.project-name {
    height: 50px;
    line-height: 1.8;
    font-size: 30px;
}

.overlay h1.project-name:hover {
    color: #fff;
}

/* col md edit */

.col-without-pad {
    padding-left: 0px;
    padding-right: 0;
}

/* ==================== about PAGE ====================*/

body.about {
    background: #333335;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #333335 0%, #151517 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #333335 0%, #151517 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333335 0%, #151517 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333335', endColorstr='#151517', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 100vh;

}

/* ==================== CONTACT PAGE ====================*/

body.contact {
    background-image: url("../assets/backgrounds/jesse-orrico-tes.jpg");
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center center;
}

.contact header {
    background: transparent;

}

.small-heading {
    margin-top: 244px;
    text-align: left;
    -webkit-animation: left-fade-in 3s linear normal forwards;
    animation: left-fade-in 3s linear normal forwards;
    max-width: 46%;
}

.small-heading::after {
    content: '';
    background: #FFDE13;
    width: 365px;
    height: 5px;
    display: block;
    margin-bottom: 60px;
    margin-left: 172px;
}

.small-heading p {
    width: 68%;
    margin-left: 0px;
    float: left;
    font-size: 0.9rem;
    margin-top: 60px;
    margin-bottom: 180px;
    max-width: 610px;
}

.small-heading h1 {
    margin-bottom: 20px;
}

.contact-wrapper {
    height: 1380px;
    width: 100%;
    -webkit-animation: left-fade-in 4s linear normal forwards;
    animation: left-fade-in 4s linear normal forwards;
    margin-bottom: 0px;
}

.contact-form-box {
    background: #e3e3e3;
    float: left;
    height: auto;
    min-height: 700px;
    padding: 40px 80px;
    position: relative;
    width: 80%;
    padding-top: 130px;
    padding-bottom: 100px;

    max-width: 1070px;
    /* optioneel */
}

.contact-form-box:after {
    content: '';
    background: orange;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: -86px;
    margin-top: -44px;
    position: absolute;
    z-index: -1;
}

.contact-form-box h2 {
    color: #2a2a2a;
    text-align: left;
    margin-bottom: 0px;
}

.contact-form-holder {
    width: 100%;
    height: auto;
}

.contact-form-img {
    background-image: url(../assets/backgrounds/husky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    float: right;
    z-index: 555;
    margin-left: -60%;
    width: 50%;
    min-width: 650px;
    -webkit-animation: fade-inRight 3s linear normal forwards;
    animation: fade-inRight 3s linear normal forwards;
    animation-delay: 5s;
    opacity: 0;
    transition: all 300ms ease;
    right: -50px;
    margin-top: 823px;
    margin-right: -3%;
    position: absolute;
}


@keyframes fade-inRight {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}


@keyframes fade-inLeft {
    0% {
        opacity: 0;
        left: 0;
    }


    100% {
        opacity: 1;
        left: 20px;
    }
}


/* Contact form */

form {
    margin-top: 100px;
    -webkit-animation: fade-inLeft 5s linear normal forwards;
    animation: fade-inLeft 5s linear normal forwards;
}

label {
    float: left;
    color: #504f4f;
    height: 15px;
    font-size: 0.95rem;
    line-height: 1;
}

input,
textarea {
    width: 88%;
    display: block;
    height: 45px;
    text-align: left;
    margin-bottom: 30px;
    font-size: 18.5px;
    padding-bottom: 10px;
    resize: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

textarea {
    height: 180px;
}

.form-name-input,
.form-email-input,
.form-phone-input,
.form-company-input,
.form-message-input {
    width: 41 %;
    margin: 0;
    float: left;
    margin-left: 20.5px;
    margin-right: 20.5px;
    padding-bottom: 10px;
    margin-bottom: 40px;
}

.form-message-input {
    margin-bottom: 100px;
}

.form-name-input:after,
.form-email-input:after,
.form-phone-input:after,
.form-company-input:after,
.form-message-input:after {
    transition: all 300ms ease;
    content: '';
    background: #504f4f;
    width: 98%;
    float: right;
    height: 1px;
    display: block;
}

.form-message-input:after {
    width: 98%;
}

.form-name-input:hover:after,
.form-email-input:hover:after,
.form-phone-input:hover:after,
.form-company-input:hover:after,
.form-message-input:hover:after {
    background: #FFDE13;
}

.form-name-input:active:after,
.form-email-input:active:after,
.form-phone-input:active:after,
.form-company-input:active:after,
.form-message-input:active:after {
    background: orange;
}

.form-message-input,
.form-submit-input {
    width: 50%;
    margin-left: 20.5px;
    margin-right: 20.5px;
}

.form-message-input {
    max-width: 261px;
}

input[placeholder],
textarea[placeholder] {
    color: #2a2a2a;
}

input::placeholder {
    color: #2a2a2a;
}

textarea::placeholder {
    color: #2a2a2a;
}

input.button {
    color: #111;
    text-align: center;
    background-image: linear-gradient(to right, #ff9600 0%, #F8e71c 51%, #FFDE13 100%);
    border-radius: 8px;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
    padding: 0;
    width: 60%;
    font-size: 0.9rem;
    height: 35px;
    min-width: 230px;
}

input.button:hover {
    background-position: right center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-textarea-placeholder {
    color: #ededed;
}

/* Firefox < 19 */

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ededed;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: #ededed;
}

/* Firefox > 19 */

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #999;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #ededed;
}

/* Internet Explorer 10 */

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #999;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: #ededed;
}

.placeholder-fix:focus::-webkit-input-placeholder {
    color: #ededed;
}

.placeholder-fix:focus::-moz-placeholder {
    color: #ededed;
}

.placeholder-fix:-moz-placeholder {
    color: #ededed;
}

/* Socials bar/footer */

.socials-bar {
    font-family: 'cera-med';
    margin: 0 auto;
    margin-bottom: 280px;
    margin-top: 125px;
}

.socials-bar span {
    margin-left: 60px;
}

body.contact {
    height: 1000px;
    margin: 0 auto;
}

.top {
    margin: 0;
    position: relative;
    width: 100%;
    opacity: 1;
}

/* ==================== ABOUT PAGE ====================*/

/*

.about-page-img {
    background-image: url(../assets/backgrounds/husky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 460px;
    float: right;
    z-index: 555;
    margin-left: -60%;
    width: 50%;
    transition: all 300ms ease;
    right: -50px;
    margin-top: 410px;
}
*/

.about img.cbp-logo-process-img {
    display: none;
}

.rightimg-lefttext {
    float: none;
    background: red;
    text-align: left
}

.cbp-l-about-desc-title,
.cbp-l-about-desc-subtitle {
    margin-bottom: 35px;
    font-family: 'cera-med';
    text-align: left
}

.cbp-l-about-desc-title {
    color: #2a2a2a;
}

.cbp-l-about-desc-subtitle {
    font-size: 1.40rem;
    color: #989797;
}

.about .cbp-l-project-desc-text {
    width: 100%;
    height: auto;
    float: left;
    padding: 120px 100px;
}

/* quick-facts-about-lemon row */

.cbp-l-about-container.cbp-l-about-container-without-top-margin.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
}

.quick-facts-about-lemon {
    width: 100%;
    background: #d6d6d6;
    height: 145px;
}

/* items */

.facts-item {
    padding: 52px 90px;
    text-align: left;
    color: #2a2a2a;
    height: 145px;
    float: left;
    text-transform: uppercase;
}

.quick-facts-item {
    padding: 62px 90px;
    background: #ffde13 !important;
    background: -webkit-linear-gradient(to right, #ff9600, #ffde13) !important;
    background: linear-gradient(to right, #ff9600, #ffde13) !important;
    color: #fff;
}

.facts-label {}

.facts-result {
    font-size: 1.40rem;
}


/* capabilities row */

.capabilities {
    width: 100%;
    height: auto;
    padding: 92px 160px;
/*    margin-top: 95px;*/
    /* margin-bottom: 100px; */
}

.capabilities-wrapper {
    margin-top: 125px;
}

.cbp-l-about-desc-capabilities-title {
    color: #2a2a2a;
    font-family: 'Cera-med';
    margin-bottom: 30px;
}

.capabilities-text {
    float: left;
    text-align: left;
}

.capabilities-text p {
    font: 400 13px/20px "Open Sans", sans-serif;
    color: #2a2a2a;
    margin-bottom: 20px;
}

.capabilities .cbp-l-project-desc-title span {
    text-align: left;
    width: 100%;
}

/* about container */

.cbp-l-about-container.cbp-l-about-container-without-top-margin {
    margin-top: 0px;
}

/* the men behind lemon row */

.the-men-behind-lemon .cbp-l-project-desc-title {
    text-align: left;
}

.the-men-behind-lemon {}

.the-men-behind-lemon-wrapper {
    /*    margin-top: 15px;*/
}

.team-member-page .team-member {
    height: 345px;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

#first-team-member-row {
    background: red;
}

.about .team-member .item {
    /*    background: #ffa602;*/
    width: 100%;
    height: 460px;
}

.about .col-md-3.col-xs-3.team-member {
    float: left;
}


/* ==================== ADD CLASS ON SCROLL TEST ====================*/

/*
.clearHeader{
height: 200px; 
background-color: rgba(107,107,107,0.66);
position: fixed;
top:200;
width: 100%;
}
*/

/*
.darkHeader {
    background: red;
}*/

/* ==================== TEAM MEMBER PAGE ====================*/

.wrapper.team-member-page-top-wrapper {
    float: left;
}

.wrapper.team-member-page-top-wrapper {
    /*    padding: 100px 150px;*/
    padding: 35px 150px;
    margin-top: 0px;
}

.team-member-page .container-without-top-margin {
    margin-top: 0px;
}

.wrapper team-member-page-top-wrapper {
    float: left;
}

.cbp-l-team-member-desc-img {
    width: 600px;
    /*    width: 100%;*/
    height: auto;
    min-height: 540px;
    background: #ffa602;
    float: left;
    padding: 0;
}

.team-member-page .col-md-6.cbp-l-team-member-desc {
    float: left;
}

.team-member-page .cbp-l-team-member-desc {
    font: 400 13px/20px "Open Sans", sans-serif;
    color: #2a2a2a;
}

.cbp-l-team-member-title {
    color: #2a2a2a;
    font-family: 'Cera-med';
    font-size: 7rem;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
}

.cbp-l-team-member-subtitle {
    font-size: 1.40rem;
    color: #989797;
    font-family: 'Cera-med';
}

.line-gradient.aboutPage {
    left:10px;
    top: 90px;
}

.line-gradient.team-member-header {
    background: red;
    top: 0px;
    /* left: 25%; */
    left: -80px;
}

.team-member-page .badge-wrapper {
    width: 600px;
    margin-bottom: 106px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 58px;
}

.team-member-information .item {
    /*    background: #ffa602;*/
    width: 100%;
    /*    height: 460px;*/
    min-height: 190px;
}

.team-member .member-information {
    width: 60%;
}

.team-member-information-content {}

.member-information .cbp-l-team-member-desc-title,
.member-information .cbp-l-team-member-desc-subtitle {
    font-family: 'cera-med';
    font-size: 1.40rem;
    color: #2a2a2a;
}

.member-information .cbp-l-team-member-desc-subtitle {
    color: #2a2a2a;
    width: 100%;
    font-size: 1.15rem;
}

.cbp-l-team-member-desc p {
    color: #a4a4a4;
}

.divider {
    width: 80px;
    height: 1px;
    background: #a5a4a4;
    float: left;
}

.team-member-page .cbp-l-team-member-desc-title {
    font-size: 2rem;
}

.team-member-page img.cbp-logo-process-img {
    display: none;
}


.progress-bar-wrapper {
    width: 100%;
    float: left;
    margin-top: 12.5px;
}

.team-member-progress-bar {
    background: #a5a4a4;
    height: 2px;
    width: 70%;
    float: left;
}

.knowledge-progress-bar {
    width: 60%;
    background: #2a2a2a;
    height: 2px;
    float: left;
}

.team-member-skill p {
    /*    color: red;*/
}

.the-men-behind-lemon .row-one .team-member {
    height: 250px;
}

#themenbehindlemon {
    margin-top: 180px;
}

.capabilities #capabilities-row-two {
    background: red;
    margin-top: 200px;
    height: auto;
    width: 100%;
}

/* progress bars / skill progression */

#photoshop {
    width: 80%
}

#illustrator {
    width: 65%
}

#sketch {
    width: 90%;
}

#after-effects {
    width: 45%;
}

#html-css {
    width: 95%;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}