/* ==================== GENERAL ====================*/

body {
    background: #1D1D1C;
    /*    font-family: 'ceragr-blackitaliuploadedfile';*/
}

/*
.container-fluid {
    width: 70%;
}

.container {
    max-width: 1544px;
}
*/

.col-lg-4,
col-md-4,
col-sm-4,
col-xs-4 {
    float: left;
}

.post,
.sidebar {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #dadfe3;
}

h1,
h2,
p,
a {
    font-family: 'ceragr-bolduploaded_file';
}

/* ==================== HEADER ====================*/

header {
    background: #1D1D1C;
    position: fixed;

    margin: 0 auto;

    top: 0;
    width: 100%;
    z-index: 9999;
    /*    max-width: 1250px !important;*/
}

#navbar {
    flex-basis: 50%;
    margin-right: -16px;
}

.navbar-nav {
    flex-direction: unset;
    float: right;
}

header li {
    float: left;
}

header ul li a {
    display: block;
    color: #fff;
    font-weight: 400;
    float: left;
    padding: 14px 16px;
    border-bottom: 1px solid transparent;
    font-size: 15px;
}

header ul li a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #FFDE13;
}

.active a {
    color: red;
}

.active a {
    color: red;
}

/* ==================== OUR WORK ====================*/

/* ---------- container edit ---------- */

.container-edit {
    margin-right: 0px;
    max-width: 85%;
}

/* ---------- sidebar heading ---------- */

.row.page-heading {
    margin-top: 67px;
    height: 120px;
    color: #fff;
}

/* ---------- sidebar ---------- */

.sidda {
    /*    width: 200px;*/
    height: 700px;
    position: fixed;
    color: red;
    top: 60px;
    z-index: 99999;
}

.sidda li {
    padding: 10px 0;
}

.sidda ul li a {
    color: #fff;
    font-family: 'ceragr-bolduploaded_file';
}

.sidda ul.nav.navbar-nav {
    display: inline-block;
    color: red;
}

.sidda ul li a:hover {
    color: #FFDE13;
    text-decoration: none;
    border-bottom: 1px solid #FFDE13;
}

/* ---------- Slide in overlay animation ---------- */

.project {
    position: relative;
    width: 100%;
}

.project:hover {
    cursor: pointer;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.project:hover .overlay {
    height: 100%;
}

.text {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
}

.overlay .text p {
    color: #999;
    font-size: 0.8rem;
}

.overlay p.project-type {
    color: orange;
    margin-bottom: 0px;
}

.overlay h1.project-name {
    color: #FFDE13;
    float: left;
    /* line-height: 1; */
    padding-right: 10px;
    margin: 0;
    padding-top: -7PX;
    border-right: 5px solid red;
    position: relative;
    display: block;
    WORD-BREAK: break-all;
}

.left-project-name {
    width: 50%;
/*    height: auto;*/
/*
    background: green;
    float: left;
*/
}

.right-project-description {
    width: 50%;
    height: auto;
    float: left;
}